PORT=4000

BASE_URL=http://100.105.63.68:4000
TAILSCALE_HOST= 100.85.18.75
DB_HOST=localhost
DB_USER=user_absensi_sumpay
DB_PASS=
DB_NAME=absensi_sumpay

ADMIN_USERNAME=adminsumpay
ADMIN_PASSWORD=adminsumpay
PRINCIPAL_USERNAME=kepseksumpay
PRINCIPAL_PASSWORD=12345678

FIREBASE_CREDENTIAL=src/config/notifikasi-laptop.json

UPLOAD_TEACHERS=uploads/teacher-permissions
UPLOAD_STUDENTS=uploads/student-permissions

UPLOAD_ROOT=/mnt/cloud/YASPA/uploads
UPLOAD_TEACHERS=/mnt/cloud/YASPA/uploads/teacher-permissions
UPLOAD_STUDENTS=/mnt/cloud/YASPA/uploads/student-permissions

JWT_SECRET=
JWT_EXPIRES=1d