PORT=4000

TAILSCALE_HOST= 100.85.18.75
DB_HOST=localhost
DB_USER=absen_user
DB_PASS=
DB_NAME=absen_db

UPLOAD_TEACHERS=uploads/teacher-permissions
UPLOAD_STUDENTS=uploads/student-permissions

JWT_SECRET=
JWT_EXPIRES=1d